{% include header.html %}

    <div class="container-fluid" id="fluidcontainer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 bg-white p-3 border rounded" id="pwnzContainer">
            <div class="col-md-12" id="{{ site.url }}{{ page.url }}" itemscope itemtype="http://schema.org/Article">
            <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject" class="hidden"><link class="hidden" itemprop="url" href="{{ site.url }}{{ site.post-images }}{{page.image}}" /></div>
			<div class="row w-100">
                <a class="text-dark d-flex flew-row align-items-center" itemprop="url mainEntityOfPage" href="{{site.url}}{{page.url}}"><img class="posticon" src="{{ site.url }}{{ site.icons }}{{ page.icon }}" alt="{{ post.icon }}" /><h1 itemprop="headline">{{page.title}}</h1></a>
			</div>
			<div class="row w-100 headline d-print-none">
				<blockquote class="post-meta m-0 w-100 border-right border-top bg-white">
                    Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished dateModified">{{ page.date | date_to_string }}</time> | Categories:
					{% if post %}
						{% assign categories = post.categories %}
					{% else %}
						{% assign categories = page.categories %}
					{% endif %}
					{% for category in categories %}
                        <a href="{{ site.url }}/categories/#{{category|slugize}}">{{category}}</a>{% if forloop.last != true %},{% endif %}
					{% endfor %}

			  {% assign author = site.authors | where: 'short_name', page.author | first %}
			  {% if author %}
              <footer class="blockquote-footer p-0 m-0"><span>by </span>
                  <div class="author vcard d-inline" itemprop="author">
                      <a href="{{ site.url }}{{ author.url }}" class="text-dark" rel="author">
                          <div class="d-inline" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                             <span itemprop="name" class="font-weight-bold">{{ author.name }}</span>
                             <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject" class="hidden">
                               <link itemprop="url" href="{{ site.url }}{{author.pic}}" />
                             </div>
                          </div>
                          <div class="d-none" itemprop="author" itemscope itemtype="https://schema.org/Person">
                              <span itemprop="name">{{ author.name }}</span>
                              <img src="{{ site.url }}{{author.pic}}" itemprop="image" alt="Photo of {{ author.name }}"/>
                              <span itemprop="jobTitle">{{ author.position }}</span>
                          </div>
                      </a>
                  </div>
              </footer>
			  {% endif %}
				</blockquote>
			</div>
			</div>
            <div class="single_post single_post_content pt-3">

<!-- main body (loop) -->

{{content}}

<!-- end main body (loop) -->
            </div>

            <div class="container-fluid pb-5">
                <div class="container">
                {% include post_comments.html %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% include footer.html %}
