<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {%  include google_analytics.html %}

	{% capture styles %}
    {% include main.css %}
    {% endcapture %}
	<style>
	{{ styles | scssify }}
	</style>
    
	{% feed_meta %}
	{% include seo.html %}
	
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.url }}/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.url }}/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ site.url }}/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="{{ site.url }}/assets/favicon/favicon.ico" />

    <meta property="fb:app_id" content="222058004471035" />
    <meta property="fb:profile_id" content="100000348834111" />
    <meta property="fb:admins" content="100000348834111" />
    <meta property="og:image" content="{{ site.url }}{{ site.thumbnails }}{{page.image}}" />
    <meta property="og:type" content="article" />

  </head>
  <body class="single_post">
    <div class="container-fluid w-100 terminalBG">
      <div class="terminalcontainer p-1">
        <div class="terminal">
          <h1>paul@terminaladdict.com</h1>
        </div>
      </div>
    </div>

    <div class="searchBar container-fluid fixed-top p-3 topbar">
      <div class="container">
        <div class="terminalBG d-flex flex-row rounded border p-2 align-items-center">
          <a class="ta_logo d-flex" href="/" data-toggle="tooltip" title="Linux and SysAdmin tips and tricks">
              <img alt="Paul Willard" class="d-flex align-top" src="{{ site.url }}/assets/images/TerminalAddict-50x50.png" />
          </a>
          <input type="text" name="query" id="query" placeholder="Search this website ..." class="form-control d-flex" />
          <label for="query" class="font0"><small>Search</small></label>
        </div>
      </div>
      <div class="d-flex flex-column hidden searchResults">
        <div class="closeContainer d-inline-flex flex-row flex-row-reverse bg-white ml-auto mr-o p-2">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">Close search results &times;</span>
          </button>
        </div>
        <ul class="list-group d-flex flex-column" id="queryResult">
        </ul>
      </div>
    </div>


    <div class="container-fluid" id="fluidcontainer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 bg-white p-3 border rounded" id="pwnzContainer">
            <div class="col-md-12" id="{{ site.url }}{{ page.url }}" itemscope itemtype="http://schema.org/Article">
			<div class="row w-100">
                <a class="text-dark" itemprop="url mainEntityOfPage" href="{{site.url}}{{page.url}}"><h1 itemprop="headline">{{page.title}}</h1></a>
			</div>
			<div class="row w-100 headline d-print-none">
				<blockquote class="post-meta m-0 w-100 border-right border-top bg-white">
                    Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished dateModified">{{ page.date | date_to_string }}</time> | Categories:
					{% if post %}
						{% assign categories = post.categories %}
					{% else %}
						{% assign categories = page.categories %}
					{% endif %}
					{% for category in categories %}
                        <a href="{{ site.url }}/categories/#{{category|slugize}}">{{category}}</a>{% if forloop.last != true %},{% endif %}
					{% endfor %}

			  {% assign author = site.authors | where: 'short_name', page.author | first %}
			  {% if author %}
              <footer class="blockquote-footer p-0 m-0">by 
                  <span class="author vcard" itemprop="author">
                      <a href="{{ site.url }}{{ author.url }}" class="text-dark" rel="author">
                          <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                             <span itemprop="name" class="font-weight-bold">{{ author.name }}</span>
                             <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject" class="hidden">
                               <link itemprop="url" href="{{ site.url }}{{author.pic}}" />
                             </span>
                           </span>
                      </a>
                  </span>
              </footer>
			  {% endif %}
				</blockquote>
			</div>
            <div class="single_post_content pt-3">

<!-- main body (loop) -->

{{content}}

<!-- end main body (loop) -->
            </div>

            <div class="container-fluid pb-5">
                <div class="container">
                {% include post_comments.html %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="container">
        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left" data-animation="false">&uArr; Top</a>
      </div>
    </div>
    <!-- lightbox Modal -->
    <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="modal fade" id="lightboxModal" tabindex="-1" role="dialog" aria-labelledby="ModalSearchLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="max-width: 80% !important" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" id="lightboxModalBody">
                        <!-- content here -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- end lightbox Modal -->

    <script src="{{ site.url }}/assets/js/bundle.js"></script>
  </body>
</html>
